<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
    <h1>These are all my Friends</h1>
    <p>First Name: Sharlene</p>
    <p>Last Name: Jenkins</p>
    <p>Occupation: Nurse</p>
    <hr>
    <p>First Name: David</p>
    <p>Last Name: Greene</p>
    <p>Occupation: Programmer</p>
    <form action='/friends' method='POST'>
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
        <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
        <input type="submit" value="Add">
    </form>
</body>
</html>